<h1>BusinessCase#edit</h1>
<p>On peut modifier le biz case :<%= @title %></p>

  <%= form_tag "/business_case/#{@business_case.id}", method: "patch" do %>
  <input type="text" name="title" value="<%= @business_case.title %>">


  <span>Localisation de l'entreprise cliente : </span>
  <select name="localisation">

<% Lists::Localisations.each do |localisation| %>

<% if localisation == @business_case.localisation %>
<% is_selected = "selected" %>
<% else %>
<% is_selected = "" %>
<% end %>

<option value="<%= localisation %>" <%= is_selected %> > <%= localisation %></option>

<% end %>


  </select>
  <p></p>
  <br>




  <span>Taille de l'entreprise cliente : </span>
  <select name="corporate_size">

  <% Lists::Corporate_sizes.each do |corporate_size| %>

  <% if corporate_size == @business_case.corporate_size %>
  <% is_selected = "selected" %>
  <% else %>
  <% is_selected = "" %>
  <% end %>

  <option value="<%= corporate_size %>" <%= is_selected %> ><%= corporate_size %></option>

  <% end %>

  </select>
  <p></p>
  <br>


  <span>Industrie de l'entreprise cliente : </span>

  <select name="industry">
    <% Lists::Industries.each do |industry| %>

    <% if industry == @business_case.industry %>
    <% is_selected = "selected" %>
    <% else %>
    <% is_selected = "" %>
    <% end %>



    <option value="<%= industry %>" <%= is_selected %> ><%= industry %></option>

    <% end %>

  </select>
  <p></p>
  <br>


  <span>Expertise utilisee par le consultant : </span>
  <select name="expertise">

  <% Lists::Expertises.each do |expertise| %>

  <% if expertise == @business_case.expertise %>
  <% is_selected = "selected" %>
  <% else %>
  <% is_selected = "" %>
  <% end %>

  <option value="<%= expertise %>" <%= is_selected %> ><%= expertise %></option>

  <% end %>

    </select>
  <p></p>
  <br>


  <span>Le problème du client : </span>
  <%= text_area(:business_case, :client_problem, cols: 60, rows: 5) %>

  <p></p>
  <br>


  <span>Methodologie : </span>
  <%= text_area(:business_case, :methodology, cols: 60, rows: 5) %>
  <p></p>
  <br>


  <span>Resultats : </span>
  <%= text_area(:business_case, :results, cols: 60, rows: 5) %>
  <p></p>
  <br>

  <span>Commentaires client : </span>
  <%= text_area(:business_case, :client_comments, cols: 60, rows: 5) %>
  <p></p>
  <br>



  <input type="submit" value="Editer">
  <% end %>

  <% if @business_case %>
  <%= @business_case.errors.messages %>
  <% end %>
