<h1>BusinessCase#new</h1>
<p>_</p>

<%= form_tag "/business_case", method: "post" do %>
<span>Titre : </span>
<input type="text" name="title" placeholder="Comment...?" />
<p></p>
<br>

<span>Localisation de l'entreprise cliente : </span>

<%= render 'business_case/select_menus/select_menu', :attribute => "localisation" %>
<select name="localisation">

  <% Lists::Localisations.each do |localisation| %>

  <option value="<%= localisation %>" > <%= localisation %></option>

  <% end %>

</select>

<p></p>
<br>


<span>Taille de l'entreprise cliente : </span>
<select name="corporate_size">

  <% Lists::Corporate_sizes.each do |corporate_size| %>

  <option value="<%= corporate_size %>" ><%= corporate_size %></option>

  <% end %>

</select>
<p></p>
<br>


<span>Industrie de l'entreprise cliente : </span>
<select name="industry">

  <% Lists::Industries.each do |industry| %>

  <option value="<%= industry %>" ><%= industry %></option>

  <% end %>

</select>
<p></p>
<br>


<span>Expertise utilisee par le consultant : </span>
<select name="expertise">

<% Lists::Expertises.each do |expertise| %>

<option value="<%= expertise %>" ><%= expertise %></option>

<% end %>

  </select>
<p></p>
<br>






<span>Le problème du client : </span>
<%= text_area(:business_case, :client_problem, cols: 60, rows: 5) %>
<p></p>
<br>


<span>Methodologie : </span>
<%= text_area(:business_case, :methodology, cols: 60, rows: 5) %>
<p></p>
<br>


<span>Resultats : </span>
<%= text_area(:business_case, :results, cols: 60, rows: 5) %>
<p></p>
<br>

<span>Commentaires client : </span>
<%= text_area(:business_case, :client_comments, cols: 60, rows: 5) %>
<p></p>
<br>

<input type="submit" value="Valider">
<% end %>
<% if @business_case %>
<%= @business_case.errors.messages %>
<% else %>
<p>BusinessCase n'existe pas</p>
<% end %>
