<h1>BusinessCase#show</h1>
<p>On affiche un seul BC</p>

<% if @business_case %>
<p>
    Titre : <%= @business_case.title %>
</p>

<p>
    Localisation de l'entreprise cliente : <%= @business_case.localisation %>
</p>

<p>
    Taille de l'entreprise cliente : <%= @business_case.corporate_size %>
</p>

<p>
    Industrie de l'entreprise cliente : <%= @business_case.industry %>
</p>

<p>
    L'expertise utilisée par le consultant : <%= @business_case.expertise %>
</p>

<p>
    Le problème du client : <%= @business_case.client_problem %>
</p>

<p>
    La méthodologie utilisée par le consultant : <%= @business_case.methodology %>
</p>


<p>
    Les résultats obtenus par le consultant : <%= @business_case.results %>
</p>


<p>
    Le commentaire du client : <%= @business_case.client_comments %>
</p>



<% else %>
<p>
    Le truc c'est que ton BC il existe pas !...
</p>
<% end %>

<a href=<%= "/business_case/" %>><p>Retour vers l'index</p></a>
<a href=<%= "/business_case/#{@business_case.id}/edit" %>><p>Editer</p></a>
<a href=<%= "/business_case/#{@business_case.id}/delete" %>><p>Supprimer</p></a>
